@model IEnumerable<Furst_Alpha_2._0.Models.Assets>

@{
    ViewBag.Title = "Index";
}

@{var imagesrc = "https://midatlanticskinsurgery.com/wp-content/uploads/2016/08/Product-Coming-Soon-image-600x600.png";}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   @* <tr>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPurchased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTechsReq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availability)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
           @* @{ imagesrc = item.Image;}*@
            <img src="@imagesrc" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make) @Html.DisplayFor(modelItem => item.Model)
            <ul>
                <li>Year: @Html.DisplayFor(modelItem => item.YearPurchased)</li>
                <li>Number of Technicians Required: @Html.DisplayFor(modelItem => item.NumTechsReq)</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>Price: @Html.DisplayFor(modelItem => item.RentalPrice)</li>
                <li>Availability: @Html.DisplayFor(modelItem => item.Availability)</li>
                <li><button>Add To Cart</button></li>
            </ul>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Product Details", "Details", new { id = item.AssetId })</li>
            </ul>
        </td>
    </tr>
}

</table>


